name: backend

networks:
  default:
    external: true
    name: traefik

services:
  be:
    image: openjdk:21-jdk-slim
    container_name: pskhome-be-1
    restart: unless-stopped
    environment:
      SPRING_PROFILES_ACTIVE: prod
      JASYPT_ENCRYPTOR_PASSWORD: ${JASYPT_ENCRYPTOR_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
    ports:
      - 8080:8080
    volumes:
      - ../backend/build/libs:/opt
    working_dir: /opt
    entrypoint:
      - sh
      - -euc
      - |
        java -jar *.jar
